<div th:fragment="sidebar_fragment">
	<div id="sidebar" class="nav-collapse ">
		<!-- sidebar menu start-->
			<ul class="sidebar-menu">
				<li class="">
					<a class="" th:href="@{/index}"> 
						<i class="icon_house_alt"></i> 
						<span>Dashboard</span>
					</a>
				</li>
				<li class="sub-menu">
					<a href="javascript:;" class=""> 
						<i class='fas fa-car'></i> 
						<span>Vehicle</span> 
						<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a class="" th:href="@{/vehicles}">Data</a></li>
						<li><a class="" th:href="@{/vehicle-maintenance}">Maintenance</a></li>
						<li><a class="" th:href="@{/vehicle-movement}">Movement</a></li>
						<li><a class="" th:href="@{/vehicle-hire}">Hires</a></li>
					</ul>
				</li>
				<li class="sub-menu">
					<a href="javascript:;" class=""> 
						<i class="fas fa-cog"></i> 
						<span>Parameters</span> 
						<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a class="" th:href="@{/vehicle-make}">Vehicle Make</a></li>
						<li><a class="" th:href="@{/vehicle-type}">Vehicle Types</a></li>
						<li><a class="" th:href="@{/vehicle-model}">Vehicle Models</a></li>
						<li><a class="" th:href="@{/vehicle-status}">Status Values</a></li>
					</ul>
				</li>
				<li class="sub-menu">
					<a href="javascript:;" class="">
						<i class="fas fa-people-carry"></i>
						<span>People</span>
						<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a class="" th:href="@{/employee}">Employees</a></li>
						<li><a class="" th:href="@{/client}">Clients</a></li>
						<li><a class="" th:href="@{/supplier}">Suppliers</a></li>
						<li><a class="" th:href="@{/contact}">Contacts</a></li>
						<li><a class="" th:href="@{/user}">Users</a></li>
					</ul>
				</li>
				<li class="sub-menu">
					<a class="" href="javascript:;"> 
						<i class="fas fa-briefcase"></i> 
						<span>Human R.</span>
						<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a class="" th:href="@{/job-title}">Job Titles</a></li>
						<li><a class="" th:href="@{/employee-type}">Employee Types</a></li>
					</ul>
				</li>

				<li class="sub-menu">
					<a href="javascript:;" class=""> 
						<i class="fas fa-file-invoice-dollar"></i> 
						<span>Accounts</span> 
						<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a class="" th:href="@{/invoice}">Invoices</a></li>
						<li><a class="" th:href="@{/invoice-status}">Invoice Status Values</a></li>
					</ul>
				</li>

				<li class="sub-menu ">
					<a href="javascript:;" class=""> 
						<i class="fas fa-globe"></i> 
						<span>Global</span> 
						<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a class="" th:href="@{/countries}">Countries</a></li>
						<li><a class="" th:href="@{/state}"><span>States</span></a></li>
						<li><a class="" th:href="@{/location}"><span>Locations</span></a></li>
					</ul>
				</li>

		</ul>
		
<!-- 		<hr> -->
		
<!-- 		<ul class="sidebar-menu"> -->
<!-- 			<li class=""><a class="" th:href="@{/index}"> <i -->
<!-- 					class="icon_house_alt"></i> <span>Dashboard</span> -->
<!-- 			</a></li> -->
<!-- 			<li class="sub-menu"> -->
<!-- 				<a href="javascript:;" class="">  -->
<!-- 					<i class="icon_document_alt"></i>  -->
<!-- 					<span>Forms</span>  -->
<!-- 					<span class="menu-arrow arrow_carrot-right"></span> -->
<!-- 				</a> -->
<!-- 				<ul class="sub"> -->
<!-- 					<li><a class="" th:href="@{/countries}">Countries</a></li> -->
<!-- 					<li><a class="" th:href="@{/form-component}">Form Elements</a></li> -->
<!-- 					<li><a class="" th:href="@{/form-validation}">Form Validation</a></li> -->
<!-- 				</ul> -->
<!-- 			</li> -->
<!-- 			<li class="sub-menu"><a href="javascript:;" class=""> <i -->
<!-- 					class="icon_desktop"></i> <span>UI Fitures</span> <span -->
<!-- 					class="menu-arrow arrow_carrot-right"></span> -->
<!-- 			</a> -->
<!-- 				<ul class="sub"> -->
<!-- 					<li><a class="" th:href="@{/form-component}">Components</a></li> -->
<!-- 					<li><a class="" th:href="@{/buttons}">Buttons</a></li> -->
<!-- 					<li><a class="" th:href="@{/grids}">Grids</a></li> -->
<!-- 				</ul></li> -->
<!-- 			<li><a class="" th:href="@{/widgets}"> <i class="icon_genius"></i> -->
<!-- 					<span>Widgets</span> -->
<!-- 			</a></li> -->
<!-- 			<li><a class="" th:href="@{/charts}"> <i -->
<!-- 					class="icon_piechart"></i> <span>Charts</span> -->

<!-- 			</a></li> -->

<!-- 			<li class="sub-menu"><a href="javascript:;" class=""> <i -->
<!-- 					class="icon_table"></i> <span>Tables</span> <span -->
<!-- 					class="menu-arrow arrow_carrot-right"></span> -->
<!-- 			</a> -->
<!-- 				<ul class="sub"> -->
<!-- 					<li><a class="" th:href="@{/basic-table}">Basic Table</a></li> -->
<!-- 				</ul></li> -->

<!-- 			<li class="sub-menu "><a href="javascript:;" class=""> <i -->
<!-- 					class="icon_documents_alt"></i> <span>Pages</span> <span -->
<!-- 					class="menu-arrow arrow_carrot-right"></span> -->
<!-- 			</a> -->
<!-- 				<ul class="sub"> -->
<!-- 					<li><a class="" th:href="@{/profile}">Profile</a></li> -->
<!-- 					<li><a class="" th:href="@{/login}"><span>Login Page</span></a></li> -->
<!-- 					<li><a class="" th:href="@{/contact}"><span>Contact -->
<!-- 								Page</span></a></li> -->
<!-- 					<li><a class="active" th:href="@{/blank}">Blank Page</a></li> -->
<!-- 					<li><a class="" th:href="@{/404}">404 Error</a></li> -->
<!-- 				</ul></li> -->

<!-- 		</ul> -->
		<!-- sidebar menu end-->
	</div>
</div>